@import '../index.css';

.container {
	position: relative;
}


.animate {
	position: absolute;
	animation: Mymove 4s infinite; 
}

@keyframes Mymove {
	from {
		left: 0;
		top: 0;
	}
	to {
		left: 20rem;
		top: 20rem;
	}
}

.transition {
	position: absolute;
	top: 0;
	left: 0;
	transition: top 4s, left 4s;
}

.transition:hover {
	top: 20rem;
	left: 20rem;
}